div#dice{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%; left: 50%;
    margin-left: -100px; /* (width + padding)/2 */
    margin-top: -100px; /* (height + padding)/2 */
    perspective:1000px;
    -webkit-perspective: 1000px;
    perspective-origin: 80% 80%;
    -webkit-perspective-origin: 80% 80%;
}

div.danmian{

    width: 200px;
    height: 200px;
    -webkit-transform-origin:50% 50% 100px;
    -ms-transform-origin:50% 50% 100px;
        transform-origin:50% 50% 100px;
}
div.danmian.scani{
    /*转动*/
    -webkit-animation: xuanzhuan 6s ease-in-out 6.5s infinite;
    animation: xuanzhuan 12s ease-in-out 6.5s infinite;
    -moz-animation: xuanzhuan 12s ease-in-out 6.5s infinite;
    -o-animation: xuanzhuan 12s ease-in-out 6.5s infinite;
    -ms-animation: xuanzhuan 12s ease-in-out 6.5s infinite;
    
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    -o-animation-fill-mode:forwards;
    -ms-animation-fill-mode:forwards;
    
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
}

@keyframes xuanzhuan
{
    0% {
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotatez(0deg);
                transform: rotateX(0deg) rotateY(0deg) rotatez(0deg); 
    }
    25%{
        -webkit-transform: rotateX(180deg) rotateY(180deg) rotatez(180deg);
                transform: rotateX(180deg) rotateY(180deg) rotatez(180deg);     
    }
    50%{
        -webkit-transform: rotateX(360deg) rotateY(300deg) rotatez(360deg);
                transform: rotateX(360deg) rotateY(300deg) rotatez(360deg);     
    }   
    75%{
        -webkit-transform: rotateX(500deg) rotateY(420deg) rotatez(540deg);
                transform: rotateX(500deg) rotateY(420deg) rotatez(540deg);
    }       
    100% {
        -webkit-transform: rotateX(720deg) rotateY(720deg) rotatez(720deg);
                transform: rotateX(720deg) rotateY(720deg) rotatez(720deg);
    }
}
@-webkit-keyframes xuanzhuan
{
    0% {
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotatez(0deg);
                transform: rotateX(0deg) rotateY(0deg) rotatez(0deg); 
    }
    25%{
        -webkit-transform: rotateX(180deg) rotateY(180deg) rotatez(180deg);
                transform: rotateX(180deg) rotateY(180deg) rotatez(180deg);     
    }
    50%{
        -webkit-transform: rotateX(360deg) rotateY(300deg) rotatez(360deg);
                transform: rotateX(360deg) rotateY(300deg) rotatez(360deg);     
    }   
    75%{
        -webkit-transform: rotateX(500deg) rotateY(420deg) rotatez(540deg);
                transform: rotateX(500deg) rotateY(420deg) rotatez(540deg);
    }       
    100% {
        -webkit-transform: rotateX(720deg) rotateY(720deg) rotatez(720deg);
                transform: rotateX(720deg) rotateY(720deg) rotatez(720deg);
    }
}

div.xiaomian{float: left;position: absolute;background:url(../images/dice/dice.png) no-repeat;}

div.danmian.scani div#mian1{
animation: yihao 2s ease 1.5s;
-moz-animation: yihao 2s ease 1.5s;
-webkit-animation: yihao 2s ease 1.5s;
-o-animation: yihao 2s ease 1.5s;
-ms-animation: yihao 2s ease 1.5s;

animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;
background-position:0px 0px;}

div.danmian.scani div#mian2{
animation: erhao 2s ease 3s;
-moz-animation: erhao 2s ease 3s;
-webkit-animation: erhao 2s ease 3s;
-o-animation: erhao 2s ease 3s;
-ms-animation: erhao 2s ease 3s;

animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;
background-position:-200px 0px;}

div.danmian.scani div#mian3{
animation: sanhao 2s ease 1.5s;
-moz-animation: sanhao 2s ease 1.5s;
-webkit-animation: sanhao 2s ease 1.5s;
-o-animation: sanhao 2s ease 1.5s;
-ms-animation: sanhao 2s ease 1.5s;

animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;
background-position:-400px 0px;}

div.danmian.scani div#mian4{
animation: sihao 2s ease 3s;
-moz-animation: sihao 2s ease 3s;
-webkit-animation: sihao 2s ease 3s;
-o-animation: sihao 2s ease 3s;
-ms-animation: sihao 2s ease 3s;

animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;
background-position:0px -200px;}

div.danmian.scani div#mian5{
animation: wuhao 2s ease 4.5s;
-moz-animation: wuhao 2s ease 4.5s;
-webkit-animation: wuhao 2s ease 4.5s;
-o-animation: wuhao 2s ease 4.5s;
-ms-animation: wuhao 2s ease 4.5s;

animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;
background-position:-200px -200px;}

div.danmian.scani div#mian6{
animation: liuhao 2s ease 0s;
-moz-animation: liuhao 2s ease 0s;
-webkit-animation: liuhao 2s ease 0s;
-o-animation: liuhao 2s ease 0s;
-ms-animation: liuhao 2s ease 0s;

animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;
background-position:-400px -200px;}



/*一到六号div动画*/
@keyframes yihao
{
    0%{opacity: 0;
        width: 0px;
        height: 0px;
        }
    50%{
        width: 200px;
        height: 200px;
    }
    100%{opacity: 1;
        width: 200px;
        height: 200px;
        -webkit-transform:rotatey(-90deg); /* Safari �?Chrome */    /* IE 9 */  /* Firefox */       /* Opera */
        transform:rotatey(-90deg);
        -webkit-transform-origin:0% 50%;
        transform-origin:0% 50%;
    }
}
@-webkit-keyframes yihao
{
    0%{opacity: 0;
        width: 0px;
        height: 0px;
        }
    50%{
        width: 200px;
        height: 200px;
    }
    100%{opacity: 1;
        width: 200px;
        height: 200px;
        -webkit-transform:rotatey(-90deg); /* Safari �?Chrome */    /* IE 9 */  /* Firefox */       /* Opera */
        transform:rotatey(-90deg);
        -webkit-transform-origin:0% 50%;
        transform-origin:0% 50%;
    }
}

@keyframes erhao
{
    0%{opacity: 0;
        width: 0px;
        height: 0px;
    }
    50%{
        width: 200px;
        height: 200px;
    }
    100%{opacity: 1;
        width: 200px;
        height: 200px;
        -webkit-transform-origin:50% 100%;
        transform-origin:50% 100%;
        -webkit-transform:rotatex(-90deg); /* Safari �?Chrome */    /* IE 9 */  /* Firefox */       /* Opera */
        transform:rotatex(-90deg);
    }
}
@-webkit-keyframes erhao
{
    0%{opacity: 0;
        width: 0px;
        height: 0px;
    }
    50%{
        width: 200px;
        height: 200px;
    }
    100%{opacity: 1;
        width: 200px;
        height: 200px;
        -webkit-transform-origin:50% 100%;
        transform-origin:50% 100%;
        -webkit-transform:rotatex(-90deg); /* Safari �?Chrome */    /* IE 9 */  /* Firefox */       /* Opera */
        transform:rotatex(-90deg);
    }
}

@keyframes sanhao
{
    0%{opacity: 0;
        width: 0px;
        height: 0px;
    }
    50%{
        width: 200px;
        height: 200px;
    }
    100%{opacity: 1;
        width: 200px;
        height: 200px;
        -webkit-transform-origin:100% 50%;
        transform-origin:100% 50%;
        -webkit-transform:rotatey(90deg); /* Safari �?Chrome */     /* IE 9 */  /* Firefox */       /* Opera */
        transform:rotatey(90deg);
    }
}
@-webkit-keyframes sanhao
{
    0%{opacity: 0;
        width: 0px;
        height: 0px;
    }
    50%{
        width: 200px;
        height: 200px;
    }
    100%{opacity: 1;
        width: 200px;
        height: 200px;
        -webkit-transform-origin:100% 50%;
        transform-origin:100% 50%;
        -webkit-transform:rotatey(90deg); /* Safari �?Chrome */     /* IE 9 */  /* Firefox */       /* Opera */
        transform:rotatey(90deg);
    }
}

@keyframes sihao
{
    0%{opacity: 0;
        width: 0px;
        height: 0px;
    }
    50%{
        width: 200px;
        height: 200px;
    }
    100%{opacity: 1;
        width: 200px;
        height: 200px;
        -webkit-transform-origin:50% 0%;
        transform-origin:50% 0%;
        -webkit-transform:rotatex(90deg); /* Safari �?Chrome */     /* IE 9 */  /* Firefox */       /* Opera */
        transform:rotatex(90deg);
    }
}
@-webkit-keyframes sihao
{
    0%{opacity: 0;
        width: 0px;
        height: 0px;
    }
    50%{
        width: 200px;
        height: 200px;
    }
    100%{opacity: 1;
        width: 200px;
        height: 200px;
        -webkit-transform-origin:50% 0%;
        transform-origin:50% 0%;
        -webkit-transform:rotatex(90deg); /* Safari �?Chrome */     /* IE 9 */  /* Firefox */       /* Opera */
        transform:rotatex(90deg);
    }
}


@keyframes wuhao
{
    0%{opacity: 0;
        width: 0px;
        height: 0px;
    }
    50%{
        width: 200px;
        height: 200px;      
        -webkit-transform-origin:50% 50%;
        transform-origin:50% 50%;
        -webkit-transform:rotatex(180deg); /* Safari �?Chrome */    /* IE 9 */  /* Firefox */       /* Opera */
        transform:rotatex(180deg);      
    }
    100%{opacity: 1;
        width: 200px;
        height: 200px;
        -webkit-transform-origin:50% 100%;
        transform-origin:50% 100%;
        -webkit-transform:translateZ(200px); /* Safari �?Chrome */  /* IE 9 */  /* Firefox */       /* Opera */
        transform:translateZ(200px);
    }
}
@-webkit-keyframes wuhao
{
    0%{opacity: 0;
        width: 0px;
        height: 0px;
    }
    50%{
        width: 200px;
        height: 200px;      
        -webkit-transform-origin:50% 50%;
        transform-origin:50% 50%;
        -webkit-transform:rotatex(180deg); /* Safari �?Chrome */    /* IE 9 */  /* Firefox */       /* Opera */
        transform:rotatex(180deg);      
    }
    100%{opacity: 1;
        width: 200px;
        height: 200px;
        -webkit-transform-origin:50% 100%;
        transform-origin:50% 100%;
        -webkit-transform:translateZ(200px); /* Safari �?Chrome */  /* IE 9 */  /* Firefox */       /* Opera */
        transform:translateZ(200px);
    }
}



@keyframes liuhao
{
    0%{opacity: 0;
        width: 0px;
        height: 0px;
    }
    50%{
        width: 200px;
        height: 200px;
    }
    100%{opacity: 1;
        width: 200px;
        height: 200px;
        -webkit-transform-origin:50% 50%;
        transform-origin:50% 50%;
        -webkit-transform:rotatey(180deg); /* Safari �?Chrome */    /* IE 9 */  /* Firefox */       /* Opera */
        transform:rotatey(180deg);
    }
}
@-webkit-keyframes liuhao
{
    0%{opacity: 0;
        width: 0px;
        height: 0px;
    }
    50%{
        width: 200px;
        height: 200px;
    }
    100%{opacity: 1;
        width: 200px;
        height: 200px;
        -webkit-transform-origin:50% 50%;
        transform-origin:50% 50%;
        -webkit-transform:rotatey(180deg); /* Safari �?Chrome */    /* IE 9 */  /* Firefox */       /* Opera */
        transform:rotatey(180deg);
    }
}

